

.video-item img{

  max-width: 64px;
}
.video-detail {
  margin-top: 15px;

}
.video-detail .details{

  margin-top: 10px;
  padding:10px;
  border:2px dashed #696969;
  border-radius:20px;
}
.list-group {
  margin-top: -490px;
  margin-left: 800px;


}
.list-group-item{
  cursor:pointer;

}

.list-group-item:hover{
  background-color: #eee;
}

.img{
  margin-left:120px;
  margin-top: 41px;
  margin-bottom: -80px;
  text-align: center;
  border-radius: 40px;
  position: absolute;
  z-index:110;
}
.navbar-default {
    background-color: #cd201f;
    border-color: #E7E7E7;
    z-index:100;

}
#bar {

  height: 110px;
  width: 130%;
  margin-top: -35px;
  margin-left: -170px;
  padding-left: -100px;
  

}
.fa {
  margin-left: -1px;
  margin-top: 8px;
}



/* border-box */
.search-container *,
.search-container *:after,
.search-container *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing:border-box;
}

/* search bar focus */
.search-container *:focus {
  background: #fbfbfb;
  color: #333333;
  outline: 0;
}

/* search bar container */
.search-container {
  display: table;
  position: relative;
  width: 51px;
}

/* search icon button */
.search-icon-btn {
  background-color: #FFFAF0;
  border: 1px solid white;
  display: table-cell;
  height: 35px;
  /*position: relative;*/
  text-align: center;
  vertical-align: middle;
  width: 35px;
  z-index: 120;
  position: absolute;
  margin-left: 1000px;
  border-radius: 50px;
  margin-top: -55px;
}

/* search bar input container */
.search-input {
  position: absolute;
  left: 1000px;
  z-index: 102;
  border-radius: 50px;
  top:-55px;
}

/* search bar input */
.search-input input.search-bar {
  border: 1px solid #cccccc;
  height: 35px;
  padding: 0px;
  width: 35px;
  border-radius: 50px;
}
.search-input input.search-bar:focus {
  padding-left: 60px;
  padding-right: 10px;
  width: 250px;
}

/* transition effect */
.search-input input.search-bar,
.search-icon-btn {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/* hover on search bar container */
.search-container:hover > .search-input input.search-bar {
  padding-left: 60px;
  padding-right: 10px;
  width: 250px;
}
